@font-face {
    font-family: 'HYWenHei-85W';
    src: url('HYWenHei-HEW.woff2') format('woff2'),
        url('HYWenHei-HEW.woff') format('woff'),
        url('HYWenHei-HEW.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

